body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    display: flex;
    justify-content: space-around;
}

.news-container, .buttons-container {
    overflow-y: scroll;
    width: 40%;
    height: 90vh;
    padding-right: 20px;
}


.buttons-container::-webkit-scrollbar, .news-container::-webkit-scrollbar {
    width: 15px;
    box-sizing: border-box;
}

.buttons-container::-webkit-scrollbar-track, .news-container::-webkit-scrollbar-track {
    background: #17181c;
    border-radius: 10px;
    border: 1px solid #30c5ff;
}

.buttons-container::-webkit-scrollbar-thumb, .news-container::-webkit-scrollbar-thumb {
    background-color: #30c5ff;
    border-radius: 20px;
    border: 1px solid #17181c;
    box-sizing: border-box;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer-github {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 40px 0px 0px 10px;
    background-color: #fff;
    border: 3px solid #17181c;
}

.footer-rsschool {
    height: 40px;
    padding: 2px;
    margin: 40px 0px 0px 10px;
    filter: invert(100%);
    border: 3px solid #e7e7e8;
}

.footer-github:hover,
.footer-rsschool:hover {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(0.25em);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
 @media (max-width:860px) {
    main {
       flex-direction: column;
    }
}